
<div class="row" *ngIf="loading">
    <div class="col">
        <div class="alert alert-info text-center">
            <i class="fas fa-sync fa-spin fa-2x"></i>
            <h1>Espere, por favor...</h1>
        </div>
    </div>
</div>

<div class="row" *ngIf="error">
    <div class="col">
        <div class="alert alert-danger text-center">
            <i class="fas fa-times fa-2x"></i>
            <h2>Error: {{error.status}}</h2>
            <p>{{error.message}}</p>
            <p style="font-size: 12px;">{{error.url}}</p>
        </div>
    </div>
</div>

<div class="card-columns" *ngIf="!loading">
    <div class="card" style="width: 18rem;" *ngFor="let usuario of usuarios">
        <img [src]="usuario.avatar" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text">
            <span class="text-muted">
                ID: {{usuario.id}}
            </span>
        </p>
        </div>
    </div>
</div>
